body {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  height:100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 50px 0px;
}

.container .heros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  padding: 40px 20px;
}

.container .heros .hero {
  background-color: gray;
  margin: 4px;
  width:80px;
  height:84px;
  border: 3px solid white;
  border-radius: 10px;
  transform: skewX(-14deg);
  transition: 
    transform .1s,
    background-color .9s;
  box-sizing: border-box;
  overflow: hidden;
}

.container .heros .hero:hover{
  background-color: orange;
  transform: skewX(-14deg) scale(1.5);
  z-index:1;
}

.container .heros .hero img {
  width: 130%;
  height: 100%;
  transform : translateX(-16px) skewX(14deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}

.container .logo{
  display: flex;
  margin : 30px auto;
  max-width: 300px;
  justify-content: center;
}

.container .logo img{
  width: 100%;
}

